.shadow-sm h1{
    color: #333 !important;
}
.shadow-sm h2{
    color: #333 !important;
}
.shadow-sm h3{
    color: #333 !important;
}
.shadow-sm h4{
    color: #333 !important;
}
.shadow-sm h5{
    color: #333 !important;
}
.shadow-sm h6{
    color: #333 !important;
}