.dt-layout-table{
    width: 100%;
    height: 410px;
    overflow: auto;
}

.bi.bi-pencil-square {
    color: #0dcaf0;
}

.bi.bi-trash-fill {
    color: #dc3545;
}

.ysnenabled-true,
.ysnapproved-true {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

.ysnenabled-false,
.ysnapproved-false {
    background-color: #dc3545;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

#frmAddUser {
    transition: display 2s;
}

.grid-report{
    background: #fffcf6;
    padding-top: 10px;
    color: #333;
    padding-bottom: 10px;
}

.grid-report h1{
    color: #333 !important;
}
.grid-report h2{
    color: #333 !important;
}
.grid-report h3{
    color: #333 !important;
}
.grid-report h4{
    color: #333 !important;
}
.grid-report h5{
    color: #333 !important;
}
.grid-report h6{
    color: #333 !important;
    font-size: 18px !important;
}
