.dt-layout-table{
    width: 100%;
    height: 410px;
    overflow: auto;
}

.bi.bi-pencil-square {
    color: #0dcaf0;
}

.bi.bi-trash-fill {
    color: #dc3545;
}

.ysn-in-transit {
    background-color: #35c9dc;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

.ysn-received {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

table.dataTable.row-border > tbody > tr > *, table.dataTable.display > tbody > tr > * {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 12px !important;
}

.dt-layout-row.dt-layout-table {
    height: 100%;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 1024px;
    }
}