.shadow-sm h1{
    color: #333 !important;
}
.shadow-sm h2{
    color: #333 !important;
}
.shadow-sm h3{
    color: #333 !important;
}
.shadow-sm h4{
    color: #333 !important;
    font-size: 13px !important;
}
.shadow-sm h5{
    color: #333 !important;
    font-size: 13px !important;
}
.shadow-sm h6{
    color: #333 !important;
    font-size: 16px !important;
}

.p-3 {
    padding: 0rem !important;
    width: 100%;
    height: 542px;
}


#map {
    height: 42vh;
    flex: 3;
}
#sidebar {
    flex: 1;
    height: 42vh;
    overflow-y: auto;
    padding: 20px;
    background: #f8f9fa;
    border-left: 1px solid #ddd;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #e9ecef;
}
#search-container {
    margin-bottom: 15px;
}